.footer {
    background-color: #000;
    color: #fff;
    padding: 80px;
    padding-bottom: 40px;
    font-family: Arial, sans-serif;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #333;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.subscribe-section h3,
.contact-section h3 {
    font-size: 1.2rem;
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 24px;
}

.contact-section p,
.contact-section h4,
.contact-section h3 {
    margin: 20px 0;
}

.subscribe-form {
    display: flex;
    margin-top: 10px;
}

.subscribe-form input {
    padding: 14px 24px;
    width: 384px;
    height: 47px;
    flex: 1;
    margin-right: 10px;
    border: 1px solid #333;
    border-radius: 4px;
    background-color: #fff;
    color: #000;
}

.subscribe-form button {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: 1px solid #444;
    cursor: pointer;
    width: 184px;
    height: 48px;
    border-radius: 4px;
    transition: background 0.3s ease;
}

.subscribe-form button:hover {
    background-color: #444;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.footer-links {
    display: flex;
    gap: 100px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin-bottom: 10px;
    font-size: 0.85rem;
    font-weight: 400;
}

.social-links div {
    display: flex;
    gap: 10px;
}

.currency-section {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.currency {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.payment-icons {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.copyright {
    text-align: center;
    font-size: 0.8rem;
    margin-top: 20px;
    color: #fff;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 75px;
    align-items: center;
}

.footer-link-left {
    text-align: left;
}

.footer-link-right {
    text-align: right;
}

.footer-link-left h4,
.footer-link-right h4 {
    margin-bottom: 20px;
}

.social-links {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (max-width: 1024px) {
    .footer {
        padding: 40px;
    }

    .footer-top {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .contact-section p,
    .contact-section h4,
    .contact-section h3 {
        margin: 20px 0;
    }

    .subscribe-form {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .subscribe-form input {
        width: 100%;
        margin-right: 0;
    }

    .subscribe-form button {
        width: 100%;
    }

    .footer-bottom {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-links {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .payment-icons {
        justify-content: center;
    }

    .currency-section {
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .currency {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

@media (max-width: 768px) {
    .footer {
        padding: 30px;
    }

    .subscribe-form input,
    .subscribe-form button {
        width: 100%;
    }

    .contact-section {
        padding: 20px;
    }

    .contact-section p,
    .contact-section h4,
    .contact-section h3 {
        margin: 20px 0;
    }

    .currency-section {
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .currency {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .footer-bottom {
        flex-direction: column;
        align-items: center;
    }

    .footer-links {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        gap: 75px;
        align-items: center;
    }

    .footer-link-left {
        text-align: left;
    }

    .footer-link-right {
        text-align: right;
    }

    .footer-link-left h4,
    .footer-link-right h4 {
        margin-bottom: 20px;
    }

    .social-links {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .payment-methods h4 {
        align-items: center;
        margin: 20px 0;
    }

    .payment-icons {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
}